{include file="index/header" /}
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<link href="{$domain}public/common/uploadify/uploadify.css" type="text/css" rel="stylesheet">
<div class="col-md-12">
    <form method="post" action="" id="linksForm">
        <div class="form-group">
            <label>{:lang('Friendship link name')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" name="mingcheng" placeholder="{:lang('Friendship link name')}" autofocus>
        </div>
        <div class="form-group">
            <label>{:lang('Friendship link address')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" name="dizhi" placeholder="http://">
        </div>
        <div class="form-group">
            <label>{:lang('Open mode')}：</label>
            <select class="form-control" name="target">
                <option value="_blank">{:lang('Opens as a new window')}</option>
                <option value="_self">{:lang('The original window opens')}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{:lang('Friendship link description')}：</label>
            <textarea class="form-control" rows="3" name="miaoshu"></textarea>
        </div>
        <div class="form-group">
            <label>{:lang('Whether the link is displayed on the home page')}：</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="shouye" checked> {:lang('Home Link')}
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>{:lang('Link icon')}：</label>
            <img src="{$domain}public/common/images/default-thumbnail.png" class="img-thumbnail img-responsive" id="linkImg" style="width: 60px;">
            <input type="hidden" value="" name="tubiao" id="tubiao">
            <div id="upload"></div>
        </div>
        <div class="text-center">
            <input type="hidden" name="verification" value="{$verification}">
            <button type="button" class="btn btn-default" id="baocun">{:lang('Add to')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></button>
        </div>
    </form>
</div>
<div class="hidden" id="buttonText">{:lang('Select Image')}</div>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script type="text/javascript" src="{$domain}public/common/uploadify/jquery.uploadify.js"></script>
<script src="{$domain}public/common/js/addlinks.js"></script>
{include file="index/footer" /}