{include file="index/header" /}
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<div><a class="btn btn-default" href="{:Url('admin/Index/attributetemplateadd')}" role="button">{:lang('Add a attribute template')}</a></div><br>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{:lang('Attribute template name')}</th>
            <th>{:lang('Attribute template description')}</th>
            <th>{:lang('Attributes')}</th>
            <th>{:lang('Operation')}</th>
        </tr>
        </thead>
        <tbody>
        {volist name="catfishcms" id="vo"}
        <tr>
            <td>{$vo.protemp}</td>
            <td>{$vo.description}</td>
            <td>{$vo.propname}</td>
            <td>
                <a href="{:Url('admin/Index/attributetemplateedit')}?c={$vo.id}">{:lang('Edit')}</a>
                &nbsp;|&nbsp;
                <a class="twitter" data-title="{:lang('Confirm to delete?')}" href="#!">{:lang('Delete')}</a>
                <input type="hidden" value="{$vo.id}">
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div class="text-center">
    <ul class="pagination">
        {$pages}
    </ul>
</div>
<div class="hidden" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="hidden" id="bukehuifu">{:lang('Are you sure you want to delete the attribute template? It cannot be restored after deletion!')}</div>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/attributetemplate.js"></script>
{include file="index/footer" /}