{include file="index/header" /}
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<div>
    <a class="btn btn-default" href="{:Url('admin/Index/categoriesnewsadd')}" role="button">{:lang('Add category')}</a>
    <a class="btn btn-default pull-right" href="{:Url('admin/Index/categoriesnewsall')}" role="button">{:lang('All category page settings')}</a>
</div><br>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{:lang('Category name')}</th>
            <th>{:lang('Category description')}</th>
            <th>{:lang('Template')}</th>
            <th>{:lang('Operation')}</th>
        </tr>
        </thead>
        <tbody>
        {volist name="fenlei" id="vo"}
        <tr>
            <td>{$vo.level}{if condition="$vo.level neq ''"}└&nbsp;{/if}{$vo.catename}</td>
            <td>{$vo.description}</td>
            <td>{$vo.template}</td>
            <td>
                <a href="{:Url('admin/Index/categoriesnewssub')}?c={$vo.id}">{:lang('Add subcategories')}</a>
                &nbsp;|&nbsp;
                <a href="{:Url('admin/Index/categoriesnewsedit')}?c={$vo.id}">{:lang('Edit')}</a>
                &nbsp;|&nbsp;
                <a class="twitter" data-title="{:lang('Confirm to delete?')}" href="{:Url('admin/Index/categoriesnews')}?d={$vo.id}&f={$vo.parent_id}&verification={$verification}">{:lang('Delete')}</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div class="hidden" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="hidden" id="bukehuifu">{:lang('Are you sure you want to delete the category? Can not be restored after deletion!')}</div>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/categoriesnews.js"></script>
{include file="index/footer" /}