{include file="index/header" /}
<link href="{$domain}public/common/uploadify/uploadify.css" type="text/css" rel="stylesheet">
<link href="{$domain}public/common/datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet">
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<form method="post" action="" id="writeForm">
    <div class="col-md-9">
        <div class="form-group">
            <label>{:lang('Title')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="text" autofocus class="form-control input-lg" placeholder="{:lang('Title')}" value="{$catfishItem.biaoti}" name="biaoti" required>
            <input type="hidden" name="id" id="id" value="{$catfishItem.id}">
        </div>
        <div class="form-group">
            <label>{:lang('Alias')}：</label>
            <input type="text" class="form-control" placeholder="{:lang('Alias')}" name="alias" id="alias" value="{$catfishItem.alias}">
            <p class="help-block">{:lang('After setting the alias, you can access it by alias')},&nbsp;{:lang('Aliases can only be composed of letters, numbers and underscores or connecting lines')}</p>
        </div>
        <div class="form-group">
            <label>{:lang('Details')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <textarea class="form-control hidden" rows="3" id="zhengwen" name="zhengwen">{$catfishItem.zhengwen}</textarea>
        </div>
        <div class="form-group">
            <label>{:lang('Key words')}：</label>
            <input type="text" class="form-control input-lg" placeholder="{:lang('Key words')}" name="guanjianzi" value="{$catfishItem.guanjianzi}">
            <p class="help-block">{:lang('Keywords separated by commas ","')}</p>
        </div>
        <div class="form-group">
            <label>{:lang('Abstract')}：</label>
            <textarea class="form-control" rows="3" name="zhaiyao" id="zhaiyao">{$catfishItem.zhaiyao}</textarea>
        </div>
        <div class="form-group">
            <label>{:lang('Binding template')}：</label>
            <select class="form-control" name="template">
                <option value="">{:lang('Not bound')}</option>
                {volist name="muban" id="vo"}
                <option value="{$vo}"{if condition="$vo eq $catfishItem.template"} selected{/if}>{$vo}</option>
                {/volist}
            </select>
            <p class="help-block">{:lang('Can bind the theme file in the "page" directory under the current theme')}</p>
        </div>
        <div class="form-group">
            <label>{:lang('Displayed picture')}：</label>
            <div class="col-md-12">
                <div id="zstudiv"></div>
                <div><a href="#!" class="hidden" id="quxiaozstu">{:lang('Cancel image')}</a></div>
            </div>
            <div id="zstuupload"></div>
            <input type="hidden" value="{$catfishItem.tu}" name="zstu" id="zstu">
        </div>
        <div class="form-group">
            <label>{:lang('Video')}：</label>
            <div class="col-md-12">
                <div id="videodiv"></div>
                <div><a href="#!" class="hidden" id="quxiaoshipin">{:lang('Cancel video')}</a></div>
            </div>
            <div id="videoupload"></div>
            <input type="hidden" name="shipin" id="shipin" value="{$catfishItem.shipin}">
        </div>
        <div class="form-group">
            <label>{:lang('Picture group')}：</label>
            <div class="row" id="groupdiv"></div>
            <div id="groupupload"></div>
            <input type="hidden" name="zutu" id="zutu" value="{$catfishItem.zutu}">
        </div>
        <div class="form-group">
            <label>{:lang('File group')}：</label>
            <div class="row" id="filesdiv"></div>
            <div id="filesupload"></div>
            <input type="hidden" name="wenjianzu" id="wenjianzu" value="{$catfishItem.wenjianzu}">
        </div>
        <div class="text-center">
            <input type="hidden" name="verification" value="{$verification}">
            <button type="button" class="btn btn-default" id="baocun">{:lang('Save')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></button>
        </div><br><br>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">{:lang('Thumbnail')}</div>
            <input type="hidden" id="slt" name="suolvetu" value="{$catfishItem.suolvetu}">
            <div class="panel-body" id="suolvetu">
                <img src="{$domain}public/common/images/default-thumbnail.png" class="img-responsive center-block" alt="{:lang('Thumbnail')}">
            </div>
            <div class="panel-footer">
                <button type="button" id="shangchuantu" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">
                    {:lang('Upload image')}
                </button>
                <button type="button" id="quxiaotu" class="btn btn-default btn-block hidden">
                    {:lang('Cancel upload image')}
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{:lang('Release time')}</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" name="fabushijian" id="fabushijian" class="form-control" placeholder="{:lang('Release time')}" value="{$catfishItem.fabushijian}">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{:lang('Status')}</div>
            <div class="panel-body">
                <div class="radio">
                    <label>
                        <input type="radio" name="pinglun" value="1"{if condition="$catfishItem.comment_status eq 1"} checked{/if}>
                        {:lang('Allow comments')}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="pinglun" value="0"{if condition="$catfishItem.comment_status eq 0"} checked{/if}>
                        {:lang('Comments are not allowed')}
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{:lang('Upload image')}</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="xuanbendi" class="active"><a href="#bendi" role="tab" data-toggle="tab">{:lang('Local image')}</a></li>
                    <li role="presentation" id="xuanwangluo"><a href="#wangluo" role="tab" data-toggle="tab">{:lang('Network picture')}</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="bendi">
                        <div class="container-fluid">
                            <div class="row"><br>
                                <label>{:lang('Please select Upload image')}</label>
                                <div id="upload"></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body" style="min-height: 199px;">

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="wangluo">
                        <div class="form-group"><br>
                            <label>{:lang('Image address')}</label>
                            <input type="text" class="form-control" id="wangluodizhi" placeholder="http://" value="http://">
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body" style="min-height: 200px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-primary" id="queding">{:lang('Ok')}</button>
            </div>
        </div>
    </div>
</div>
<div class="hidden" id="upload_handyeditor_url">{:Url('admin/Index/uploadhandyeditor')}</div>
<div class="hidden" id="upload_thumb_url">{:Url('admin/Index/uploadthumb')}</div>
<div class="hidden" id="upload_video_url" class="twitter">{:Url('admin/Index/uploadvideo')}</div>
<div class="hidden" id="upload_delfile_url">{:Url('admin/Index/delfile')}</div>
<div class="hidden" id="upload_image_url">{:Url('admin/Index/uploadimage')}</div>
<div class="hidden" id="upload_file_url">{:Url('admin/Index/uploadfile')}</div>
<div class="hidden" id="upload_alias_url">{:Url('admin/Index/pagealiaschk')}</div>
<div class="hidden" id="buttonText">{:lang('Select Image')}</div>
<div class="hidden" id="buttonText_video">{:lang('Upload video')}</div>
<div class="hidden" id="buttonText_image">{:lang('Upload image')}</div>
<div class="hidden" id="buttonText_file">{:lang('Upload files')}</div>
<div class="hidden" id="sizeError">{:lang('Cannot upload images larger than 2M')}</div>
<div class="hidden" id="typeError">{:lang('Can only upload images in gif, png, jpg, jpeg format')}</div>
<div class="hidden" id="alertitle">{:lang('Upload error')}</div>
<div class="hidden" id="cancelimage">{:lang('Cancel image')}</div>
<div class="hidden" id="deletefiles">{:lang('Delete Files')}</div>
<script type="text/javascript" src="{$domain}public/common/HandyEditor/HandyEditor.min.js"></script>
<script type="text/javascript" src="{$domain}public/common/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript" src="{$domain}public/common/datetimepicker/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/editpage.js"></script>
{include file="index/footer" /}