            </div>
        </div><br>
        <div class="pull-right text-muted">{$yuyue}</div>
        </div>
    </div>
</div>
<div class="hidden" id="jixu">{:lang('Continue')}</div>
<div class="hidden" id="quxiao">{:lang('Cancel')}</div>
<div class="hidden" id="chucuo">{:lang('Error')}</div>
<div class="hidden" id="queding">{:lang('Ok')}</div>
<div class="hidden" id="siteroot">{$root}</div>
<div class="hidden" id="prompt">{$prompt}</div>
<div class="hidden" id="verification">{$verification}</div>
<div class="hidden" id="domain">{$domain}</div>
<script src="{$domain}public/common/js/footer.js"></script>
</body>
</html>