<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Catfish CMS All Rights Reserved">
    <meta name="robots" content="noindex,noarchive">
    <title>{:lang('YUYUE CMS')}</title>
    <link rel="icon" href="{$domain}public/common/images/favicon.ico">
    <link href="{$domain}public/common/css/bootstrap3.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{$domain}public/common/js/html5shiv.min.js"></script>
    <script src="{$domain}public/common/js/respond.min.js"></script>
    <![endif]-->
    <script src="{$domain}public/common/bootstrap3/js/jquery.min.js"></script>
    <script src="{$domain}public/common/bootstrap3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <nav id="navbar-example" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-js-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{:Url('admin/Index/index')}">
                    <img alt="{:lang('Catfish Management Center')}" src="{if $logo == '' || $ihd == ''}{$domain}public/common/images/yuyue_white.png{else /}{$logo}{/if}" width="20" height="20">
                </a>
                <a class="navbar-brand" href="{:Url('admin/Index/index')}">{if $ihd == ''}{:lang('YUYUE CMS')}{/if}{:lang('Management background')}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{:Url('index/Index/index')}" title="{:lang('Home')}" target="_blank"><i class="icon-home icon-large"></i></a></li>
                    <li><a href="{:Url('admin/Index/writenews')}" title="{:lang('Editing news')}"><i class="icon-pencil icon-large"></i></a></li>
                    <li><a href="{:Url('admin/Index/editproduct')}" title="{:lang('Edit product')}"><i class="icon-edit icon-large"></i></a></li>
                    <li><a href="{:Url('admin/Index/personal')}" title="{:lang('Modify personal information')}"><i class="icon-list-alt icon-large"></i></a></li>
                    <li><a href="{:Url('admin/Index/change')}" title="{:lang('Modify the login password')}"><i class="icon-lock icon-large"></i></a></li>
                    <li><a href="{:Url('admin/Index/mycollection')}" title="{:lang('My collection')}"><i class="icon-heart icon-large"></i></a></li>
                    <li><a href="{:Url('admin/Index/clearcache')}" title="{:lang('Clear cache')}"><i class="icon-repeat icon-large"></i></a></li>
                    <li><a href="{:Url('login/Index/quit')}" title="{:lang('Sign out')}"><i class="icon-signout icon-large"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="fat-menu" class="dropdown">
                        <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {:lang('Welcome')}，{$user}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{:Url('admin/Index/change')}"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;{:lang('Modify the login password')}</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{:Url('admin/Index/personal')}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;{:lang('Modify personal information')}</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{:Url('login/Index/quit')}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;{:lang('Sign out')}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div style="height: 50px">
</div>
<div class="container-fluid">
    <div class="row">
        {include file="index/sidebar" /}
        <div class="col-xs-12 col-sm-9 col-md-10 pull-right" style="background-color:#FFFFFF;">
            <div class="row bg-danger text-center">
                <h4>{$backstagetitle}</h4>
            </div><br><div id="yuyueprompt"></div>
            {if condition="$star == true"}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{:lang('With')}&nbsp;<b><span class="text-danger">*</span></b>&nbsp;{:lang('are required')}</h4>
                    </div>
                </div>
            </div>
            {/if}
            <div class="container-fluid" style="min-height: 800px;">
                <div class="row">