{include file="index/header" /}
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<div><a class="btn btn-default" href="{:Url('admin/Index/menucategoryadd')}" role="button">{:lang('Add menu categories')}</a></div><br>
<form class="form-inline" method="post" action="">
    <div>
        <p>
            <input type="hidden" name="paixu" value="paixu">
            <input type="hidden" name="verification" value="{$verification}">
            <button type="submit" class="btn btn-primary btn-sm">{:lang('Sort')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing_bai.gif" width="14" height="14"></span></button>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 80px;">{:lang('Sort')}</th>
                <th>{:lang('Serial number')}</th>
                <th>{:lang('Category name')}</th>
                <th>{:lang('Category description')}</th>
                <th>{:lang('Main menu')}</th>
                <th>{:lang('Operation')}</th>
            </tr>
            </thead>
            <tbody>
            {volist name="catfishcms" id="vo"}
            <tr>
                <td>
                    <input type="text" value="{$vo.listorder}" name="{$vo.id}" class="form-control" maxlength="8" style="width: 80px;">
                </td>
                <td>{$vo.order}</td>
                <td>{$vo.nav_name}</td>
                <td>{$vo.remark}</td>
                <td>
                    {if condition="$vo.active eq 1"}<h5 class="text-success"><span class="glyphicon glyphicon-ok"></span> {:lang('Yes')}</h5>
                    {else /}<h5 class="text-muted">{:lang('No')}</h5>
                    {/if}
                </td>
                <td>
                    <a href="{:Url('admin/Index/menucategoryedit')}?catfish={$vo.id}">{:lang('Edit')}</a>
                    &nbsp;|&nbsp;
                    <a class="twitter" data-title="{:lang('Confirm to delete?')}" href="#!">{:lang('Delete')}</a>
                    <input type="hidden" value="{$vo.id}">
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="hidden" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="hidden" id="bukehuifu">{:lang('Are you sure you want to delete it? It cannot be recovered after deletion!')}</div>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/menucategories.js"></script>
{include file="index/footer" /}