<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Catfish CMS All Rights Reserved">
    <meta name="robots" content="noindex,noarchive">
    <title>鱼跃CMS</title>
    <link rel="icon" href="{$domain}public/common/images/favicon.ico">
    <link href="{$domain}public/common/css/bootstrap3.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{$domain}public/common/js/html5shiv.min.js"></script>
    <script src="{$domain}public/common/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 100px">
            <h1 style="font-size: 80px">404</h1>
            <h4>{:lang('Page not found')}</h4>
        </div>
    </div>
</div>
</body>
</html>