{include file="index/header" /}
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<form method="post" action="">
    <div class="col-md-12">
        <div class="form-group">
            <label>{:lang('Label name')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" value="{$catfishItem.biaoqian}" name="biaoqian" id="biaoqian" placeholder="{:lang('Label name')}" required autofocus>
            <input type="hidden" name="id" id="id" value="{$catfishItem.id}">
            <p class="help-block">{:lang('Label names can only use letters and numbers')}</p>
        </div>
        <div class="form-group">
            <label>{:lang('Binding category')}：</label>
            <select class="form-control" name="cateid">
                <option value="0">{:lang('All categories')}</option>
                {volist name="fenlei" id="vo"}
                <option value="{$vo.id}"{if condition="$catfishItem.cateid eq $vo.id"} selected{/if}>{$vo.level}{if condition="$vo.level neq ''"}└&nbsp;{/if}{$vo.catename}</option>
                {/volist}
            </select>
        </div>
        <div class="form-group">
            <label>{:lang('Effective position')}：</label>
            <select class="form-control" name="outpos">
                <option value="all"{if condition="$catfishItem.outpos eq 'all'"} selected{/if}>{:lang('Full website effective')}</option>
                <option value="home"{if condition="$catfishItem.outpos eq 'home'"} selected{/if}>{:lang('Only the first page is valid')}</option>
                <option value="list"{if condition="$catfishItem.outpos eq 'list'"} selected{/if}>{:lang('All list pages are valid')}</option>
                <option value="newslist"{if condition="$catfishItem.outpos eq 'newslist'"} selected{/if}>{:lang('News list page is valid')}</option>
                <option value="productlist"{if condition="$catfishItem.outpos eq 'productlist'"} selected{/if}>{:lang('Product list page is valid')}</option>
                <option value="search"{if condition="$catfishItem.outpos eq 'search'"} selected{/if}>{:lang('Search results page is valid')}</option>
                <option value="content"{if condition="$catfishItem.outpos eq 'content'"} selected{/if}>{:lang('All content pages are valid')}</option>
                <option value="news"{if condition="$catfishItem.outpos eq 'news'"} selected{/if}>{:lang('Only news content page is valid')}</option>
                <option value="product"{if condition="$catfishItem.outpos eq 'product'"} selected{/if}>{:lang('Only product content pages are valid')}</option>
                <option value="page"{if condition="$catfishItem.outpos eq 'page'"} selected{/if}>{:lang('Only a single page is valid')}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{:lang('Whether with thumbnails')}：</label>
            <select class="form-control" name="isthumb">
                <option value="all"{if condition="$catfishItem.isthumb eq 'all'"} selected{/if}>{:lang('Mixed output, including content with and without thumbnails')}</option>
                <option value="thumb"{if condition="$catfishItem.isthumb eq 'thumb'"} selected{/if}>{:lang('Output only content with thumbnails')}</option>
                <option value="nothumb"{if condition="$catfishItem.isthumb eq 'nothumb'"} selected{/if}>{:lang('Output only content without thumbnails')}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{:lang('Title')}：</label>
            <input type="text" class="form-control" value="{$catfishItem.biaoti}" name="biaoti" placeholder="{:lang('Title')}">
            <p class="help-block">{:lang('The title of the page element generated by the template label')}</p>
        </div>
        <div class="form-group">
            <label>{:lang('Display quantity')}：</label>
            <input type="number" min="1" step="1" value="{$catfishItem.quantity}" class="form-control" name="quantity" placeholder="{:lang('Display quantity')}">
            <p class="help-block">{:lang('Number of records output by the template label')}，{:lang('The display quantity must be an integer greater than zero')}</p>
        </div>
        <div class="form-group">
            <label>{:lang('Display method')}：</label>
            <select class="form-control" name="method">
                <option value="latestRelease"{if condition="$catfishItem.method eq 'latestRelease'"} selected{/if}>{:lang('The latest release time')}</option>
                <option value="recentlyModified"{if condition="$catfishItem.method eq 'recentlyModified'"} selected{/if}>{:lang('Last modified time')}</option>
                <option value="latestComment"{if condition="$catfishItem.method eq 'latestComment'"} selected{/if}>{:lang('Latest comment')}</option>
                <option value="viewQuantity"{if condition="$catfishItem.method eq 'viewQuantity'"} selected{/if}>{:lang('Total number of view')}</option>
                <option value="numberComments"{if condition="$catfishItem.method eq 'numberComments'"} selected{/if}>{:lang('Total number of comments')}</option>
                <option value="likeNumber"{if condition="$catfishItem.method eq 'likeNumber'"} selected{/if}>{:lang('Total number of points praise')}</option>
                <option value="releaseOrder"{if condition="$catfishItem.method eq 'releaseOrder'"} selected{/if}>{:lang('According to the order of product release')}</option>
                <option value="originalHighToLow"{if condition="$catfishItem.method eq 'originalHighToLow'"} selected{/if}>{:lang('From high to low according to the original price')}</option>
                <option value="originalLowToHigh"{if condition="$catfishItem.method eq 'originalLowToHigh'"} selected{/if}>{:lang('From low to high according to the original price')}</option>
                <option value="currentHighToLow"{if condition="$catfishItem.method eq 'currentHighToLow'"} selected{/if}>{:lang('From high to low at current prices')}</option>
                <option value="currentLowToHigh"{if condition="$catfishItem.method eq 'currentLowToHigh'"} selected{/if}>{:lang('From low to high at current prices')}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{:lang('Remarks')}：</label>
            <textarea class="form-control" rows="3" name="remarks">{$catfishItem.remarks}</textarea>
        </div>
        <hr>
        <div class="text-center">
            <input type="hidden" name="verification" value="{$verification}">
            <button type="submit" class="btn btn-default">{:lang('Modify')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></button>
        </div>
    </div>
</form>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/productlabelconfedit.js"></script>
{include file="index/footer" /}