<div class="col-xs-12 col-sm-3 col-md-2" style="padding-left: 0px">
    <div class="collapse navbar-collapse" style="position: fixed; top: 51px; bottom: 0; padding-top: 10px; z-index: 9100; background-color:#8a282a; width:inherit" id="bs-example-js-navbar-collapse">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="news_center">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#news_center_nr">
                            <i class="icon-edit"></i>&nbsp;&nbsp;{:lang('News Center')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="news_center_nr" class="panel-collapse collapse{eq name="backstageMenu" value="news"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/writenews')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="writenews"} btn-primary{/eq}">
                                {:lang('Editing news')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/newslist')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="newslist"} btn-primary{/eq}">
                                {:lang('News list')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/categoriesnews')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="categoriesnews"} btn-primary{/eq}">
                                {:lang('Categories of news')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/newslabelconf')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="newslabelconf"} btn-primary{/eq}">
                                {:lang('Template label')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/newscomments')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="newscomments"} btn-primary{/eq}">
                                {:lang('All comments')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/newsrecycle')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="newsrecycle"} btn-primary{/eq}">
                                {:lang('Recycle bin')}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="product_center">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#product_center_nr">
                            <i class="icon-cogs"></i>&nbsp;&nbsp;{:lang('Product center')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="product_center_nr" class="panel-collapse collapse{eq name="backstageMenu" value="product"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/editproduct')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="editproduct"} btn-primary{/eq}">
                            {:lang('Edit product')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/productlist')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="productlist"} btn-primary{/eq}">
                            {:lang('Product List')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/productcategories')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="productcategories"} btn-primary{/eq}">
                            {:lang('Product Categories')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/attributetemplate')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="attributetemplate"} btn-primary{/eq}">
                            {:lang('Attribute template')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/productlabelconf')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="productlabelconf"} btn-primary{/eq}">
                            {:lang('Template label')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/productcomments')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="productcomments"} btn-primary{/eq}">
                            {:lang('All comments')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/productrecycle')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="productrecycle"} btn-primary{/eq}">
                            {:lang('Recycle bin')}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="single_page">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#single_page_nr">
                            <i class="icon-file-alt"></i>&nbsp;&nbsp;{:lang('Single page management')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="single_page_nr" class="panel-collapse collapse{eq name="backstageMenu" value="page"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/editpage')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="editpage"} btn-primary{/eq}">
                            {:lang('Edit single page')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/singlelist')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="singlelist"} btn-primary{/eq}">
                            {:lang('Single page list')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/singlecomments')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="singlecomments"} btn-primary{/eq}">
                            {:lang('All comments')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/singlerecycle')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="singlerecycle"} btn-primary{/eq}">
                            {:lang('Recycle bin')}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="website_related">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#website_related_nr">
                            <i class="icon-magnet"></i>&nbsp;&nbsp;{:lang('Website related')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="website_related_nr" class="panel-collapse collapse{eq name="backstageMenu" value="websiterelated"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/slideshow')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="slideshow"} btn-primary{/eq}">
                            {:lang('Slides')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/slidegrouping')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="slidegrouping"} btn-primary{/eq}">
                            {:lang('Slide grouping')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/links')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="links"} btn-primary{/eq}">
                            {:lang('Links')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/messages')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="messages"} btn-primary{/eq}">
                            {:lang('All messages')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/selflabeling')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="selflabeling"} btn-primary{/eq}">
                            {:lang('Self-labeling')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/homeshow')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="homeshow"} btn-primary{/eq}">
                            {:lang('Home show')}
                            </button>
                        </a>
                        {if condition="$openpay == 1"}
                        <a href="{:Url('admin/Index/alipay')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="alipay"} btn-primary{/eq}">
                            {:lang('Alipay')}
                            </button>
                        </a>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="corporate_information">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#corporate_information_nr">
                            <i class="icon-bar-chart"></i>&nbsp;&nbsp;{:lang('Corporate Information')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="corporate_information_nr" class="panel-collapse collapse{eq name="backstageMenu" value="corporateinformation"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/companyprofile')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="companyprofile"} btn-primary{/eq}">
                            {:lang('Company profile')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/corporatehistory')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="corporatehistory"} btn-primary{/eq}">
                            {:lang('Corporate history')}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_cd">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_cd">
                            <i class="icon-th-list"></i>&nbsp;&nbsp;{:lang('Menu')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse_cd" class="panel-collapse collapse{eq name="backstageMenu" value="caidan"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/addmenu')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="addmenu"} btn-primary{/eq}">
                            {:lang('Add a menu')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/managemenu')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="managemenu"} btn-primary{/eq}">
                            {:lang('All menus')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/menucategories')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="menucategories"} btn-primary{/eq}">
                            {:lang('Menu categories')}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_yh">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_yh">
                            <i class="icon-user"></i>&nbsp;&nbsp;{:lang('User')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse_yh" class="panel-collapse collapse{eq name="backstageMenu" value="yonghu"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/general')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="general"} btn-primary{/eq}">
                            {:lang('General users')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/personal')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="personal"} btn-primary{/eq}">
                            {:lang('Personal information')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/change')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="change"} btn-primary{/eq}">
                            {:lang('Change password')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/mycollection')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="mycollection"} btn-primary{/eq}">
                            {:lang('My collection')}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_xt">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_xt">
                            <i class="icon-cog"></i>&nbsp;&nbsp;{:lang('System')}&nbsp;&nbsp;<span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse_xt" class="panel-collapse collapse{eq name="backstageMenu" value="xitong"} in{/eq}">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <a href="{:Url('admin/Index/web')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="web"} btn-primary{/eq}">
                                {:lang('Website information')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/themes')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="themes"} btn-primary{/eq}">
                            {:lang('Themes')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/clearcache')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="clearcache"} btn-primary{/eq}">
                                {:lang('Clear cache')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/dbbackup')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="dbbackup"} btn-primary{/eq}">
                            {:lang('Database backup')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/smtpsettings')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="smtpsettings"} btn-primary{/eq}">
                            {:lang('SMTP settings')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/systemupgrade')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="systemupgrade"} btn-primary{/eq}">
                            {:lang('System Upgrade')}
                            </button>
                        </a>
                        <a href="{:Url('admin/Index/softwarelicense')}">
                            <button type="button" class="btn btn-default btn-block{eq name="option" value="softwarelicense"} btn-primary{/eq}">
                            {:lang('Software license')}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="visible-xs-block">
            <a href="{:Url('index/Index/index')}">
                <button type="button" class="btn btn-default btn-block"><i class="icon-home"></i>&nbsp;&nbsp;{:lang('Home')}</button>
            </a><br>
            <a href="{:Url('login/Index/quit')}">
                <button type="button" class="btn btn-default btn-block"><i class="icon-signout"></i>&nbsp;&nbsp;{:lang('Sign out')}</button>
            </a><br>
        </div>
    </div>
</div>