{include file="index/header" /}
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<div><a class="btn btn-default" href="{:Url('admin/Index/addslideshow')}" role="button">{:lang('Add a slide')}</a></div><br>
<div class="col-md-12">
    <form class="form-inline" method="post" action="">
        <div>
            <p>
                <input type="hidden" name="paixu" value="paixu">
                <input type="hidden" name="verification" value="{$verification}">
                <button type="submit" class="btn btn-primary btn-sm">{:lang('Sort')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing_bai.gif" width="14" height="14"></span></button>
            </p>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 80px;">{:lang('Sort')}</th>
                        <th>{:lang('Slide group name')}</th>
                        <th>{:lang('Image')}</th>
                        <th>{:lang('Name')}</th>
                        <th>{:lang('Description')}</th>
                        <th>{:lang('Link')}</th>
                        <th>{:lang('Status')}</th>
                        <th>{:lang('Operation')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo"}
                    <tr>
                        <td>
                            <input type="text" value="{$vo.listorder}" name="{$vo.slideid}" class="form-control" maxlength="8" style="width: 80px;">
                        </td>
                        <td>{$vo.catename}</td>
                        <td><img src="{$domain}{$vo.tupian}" width="80"></td>
                        <td>{$vo.mingcheng}</td>
                        <td>{$vo.miaoshu}</td>
                        <td>{$vo.lianjie}</td>
                        <td>
                            {if condition="$vo.status eq 1"}<h5 class="text-success"><span class="glyphicon glyphicon-ok"></span> {:lang('Display')}</h5>
                            {else /}<h5 class="text-muted">{:lang('Not show')}</h5>
                            {/if}
                        </td>
                        <td>
                            <input class="hidden" value="{$vo.status}">
                            <a href="{:Url('admin/Index/editingslide')}?catfish={$vo.slideid}">{:lang('Edit')}</a>
                            &nbsp;|&nbsp;
                            <a class="twitter" data-title="{:lang('Confirm to delete?')}" href="#!">{:lang('Delete')}</a>
                            &nbsp;|&nbsp;
                            <a class="yincang{if condition="$vo.status neq 1"} hidden{/if}" href="#!">{:lang('Hide')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></a>
                            <a class="qiyong{if condition="$vo.status eq 1"} hidden{/if}" href="#!">{:lang('Enabled')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></a>
                            <input class="hidden" value="{$vo.slideid}">
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="text-center">
    <ul class="pagination">
        {$pages}
    </ul>
</div>
<div class="hidden" id="buxianshi">{:lang('Not show')}</div>
<div class="hidden" id="xianshi">{:lang('Display')}</div>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/slideshow.js"></script>
{include file="index/footer" /}