{include file="index/header" /}
<link href="{$domain}public/common/confirm/jquery-confirm.css" type="text/css" rel="stylesheet">
<div class="col-md-12">
    <form method="post" action="" id="catfishForm">
        <div class="form-group">
            <label>{:lang('SMTP server address')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" name="host" value="{$catfishItem.host}" placeholder="{:lang('SMTP server address')}">
        </div>
        <div class="form-group">
            <label>{:lang('The port number')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" name="port" value="{$catfishItem.port}" placeholder="{:lang('The port number')}">
        </div>
        <div class="form-group">
            <label>{:lang('Encryption')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <select class="form-control" name="secure">
                <option value="0"{if condition="$catfishItem.secure eq 'tls'"} selected{/if}>tls</option>
                <option value="1"{if condition="$catfishItem.secure eq 'ssl'"} selected{/if}>ssl</option>
            </select>
        </div>
        <div class="form-group">
            <label>{:lang('Mailbox user')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" name="user" value="{$catfishItem.user}" placeholder="{:lang('Mailbox user')}">
        </div>
        <div class="form-group">
            <label>{:lang('Password')}：&nbsp;<b><span class="text-danger">*</span></b></label>
            <input type="password" class="form-control" name="password" value="{$catfishItem.password}" placeholder="{:lang('Password')}">
        </div>
        <div class="form-group">
            <label>{:lang('Whether to enable SMTP authentication')}：</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="auth"{if condition="$catfishItem.auth eq 1"} checked{/if}> {:lang('Enable SMTP authentication')}
                </label>
            </div>
        </div>
        {if condition="$ceshi == 1"}
        <button type="button" id="ceshi" class="btn btn-default btn-sm">{:lang('Send a test email')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></button>
        {/if}
        <div class="text-center">
            <input type="hidden" name="verification" value="{$verification}">
            <button type="button" id="baocun" class="btn btn-default">{:lang('Save')}<span class="hidden">&nbsp;<img src="{$domain}public/common/images/zhixing.gif" width="16" height="16"></span></button>
        </div>
    </form>
</div>
<div class="hidden" id="mailsuccessfully">{:lang('Test mail sent successfully')}</div>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/smtpsettings.js"></script>
{include file="index/footer" /}