{include file="index/header" /}
<div class="row">
    <br><br><br>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="panel panel-default">
            {include file="index/head" /}
            <div class="panel-body">
                <textarea class="form-control" rows="15">{$license}</textarea>
                <br>
                <div class="row text-center">
                    <a href="step1"><button type="button" class="btn btn-primary">{:lang('Accept')}</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index/footer" /}