            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sidebarModal" tabindex="-1">
    <div class="modal-dialog">
    </div>
</div>
<div class="fixed-bottom text-right">{$yuyuecms}&nbsp;</div>
<div class="d-none" id="jixu">{:lang('Continue')}</div>
<div class="d-none" id="quxiao">{:lang('Cancel')}</div>
<div class="d-none" id="chucuo">{:lang('Error')}</div>
<div class="d-none" id="queding">{:lang('Ok')}</div>
<div class="d-none" id="siteroot">{$root}</div>
<div class="d-none" id="verification">{$verification}</div>
<div class="d-none" id="domain">{$domain}</div>
<script src="{$domain}public/common/js/user/footer.js"></script>
</body>
</html>