<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex,noarchive">
    <title>{:lang('User center')}</title>
    <link href="{$domain}public/common/css/bootstrap4.css" rel="stylesheet">
    <link href="{$domain}public/common/css/yuyuecms.css" rel="stylesheet">
    <script src="{$domain}public/common/js/jquery.min.js"></script>
    <script src="{$domain}public/common/js/popper.min.js"></script>
    <script src="{$domain}public/common/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light" id="yuyuecmsnav" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" id="yuyuecmsbtn">
        <i class="icon-reorder"></i>
    </button>
    <a class="navbar-brand m-auto" href="{:Url('user/Index/index')}">
        <img src="{if $logo == ''}{$domain}public/common/images/yuyue.png{else /}{$logo}{/if}" height="28" alt="">
        <span class="d-none d-sm-inline-block">{:lang('User center')}</span>
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto ml-5">
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href="#!" id="hideshowmenu"><i class="icon-circle-arrow-left icon-large"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:Url('index/Index/index')}" target="_blank"><i class="icon-home"></i> {:lang('Home')}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{$tuichu}"><i class="icon-signout"></i> {:lang('Sign out')}</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <a class="nav-link text-secondary dropdown-toggle" href="#" data-toggle="dropdown">
            <span class="d-none d-lg-inline">{:lang('Welcome')}，</span>{$user}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{:Url('user/Index/editprofile')}">{:lang('Edit my profile')}</a>
            <a class="dropdown-item" href="{:Url('user/Index/editavatar')}">{:lang('Edit avatar')}</a>
            <a class="dropdown-item" href="{:Url('user/Index/changepassword')}">{:lang('Change password')}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{$tuichu}">{:lang('Sign out')}</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-3 col-md-2 d-none d-lg-block p-0 bg-light shadow" id="sidebar">
            <div class="sticky-top vh-100" style="padding-top: 58px;">
                <div class="p-2 h-100 overflow-auto">
                    {include file="index/sidebar" /}
                </div>
            </div>
        </div>
        <div class="col pt-3">
            <div class="pt-5">
                <h4 class="text-center my-3">{$menuname}</h4>
                {if condition="$star == true"}
                <h5>{:lang('With')}&nbsp;<b><span class="text-danger">*</span></b>&nbsp;{:lang('are required')}</h5>
                {/if}