<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/index')}" class="nav-link pl-0{if condition="$current eq 'welcome'"} activebg text-secondary{else /} text-dark{/if}"><i class="icon-home mx-1"></i>{:lang('User center')}</a>
    </nav>
</div>
<div class="text-secondary pt-3 clearfix hors">
    <h6 class="float-left">
        <i class="icon-user ml-1"></i>
        {:lang('Personal information')}
    </h6>
    <i class="icon-angle-down float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/editprofile')}" class="nav-link{if condition="$current eq 'editprofile'"} activebg text-secondary{else /} text-dark{/if}">{:lang('Edit my profile')}</a>
        <a href="{:Url('user/Index/editavatar')}" class="nav-link{if condition="$current eq 'editavatar'"} activebg text-secondary{else /} text-dark{/if}">{:lang('Edit avatar')}</a>
        <a href="{:Url('user/Index/changepassword')}" class="nav-link{if condition="$current eq 'changepassword'"} activebg text-secondary{else /} text-dark{/if}">{:lang('Change password')}</a>
    </nav>
</div>
<div class="text-secondary pt-3 clearfix hors">
    <h6 class="float-left">
        <i class="icon-eye-open ml-1"></i>
        {:lang('My focus')}
    </h6>
    <i class="icon-angle-down float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/mycollection')}" class="nav-link{if condition="$current eq 'mycollection'"} activebg text-secondary{else /} text-dark{/if}">{:lang('My collection')}</a>
    </nav>
</div>
{if condition="$hasPlugin > 0"}
<div class="text-secondary pt-3 clearfix hors">
    <h6 class="float-left">
        <i class="icon-wrench ml-1"></i>
        {:lang('Other')}
    </h6>
    <i class="icon-angle-down float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        {volist name="pluginItem" id="vo"}
        <a href="{$vo.url}" class="nav-link{if condition="$current eq $vo.name"} activebg text-secondary{else /} text-dark{/if}">{$vo.alias}</a>
        {/volist}
    </nav>
</div>
{/if}
<br>