<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404</title>
    <link rel="icon" href="{$domain}public/common/images/favicon.ico">
    <link href="{$domain}public/common/css/bootstrap.min.css" rel="stylesheet">
    <script src="{$domain}public/common/js/jquery.min.js"></script>
    <script src="{$domain}public/common/js/popper.min.js"></script>
    <script src="{$domain}public/common/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 100px">
            <h1 style="font-size: 80px">404</h1>
            <h4>页面没找到</h4>
        </div>
    </div>
</div>
<br><br>
</body>
</html>